In [1]:
import pandas as pd

In [2]:
hof = 'Resources/basketball_hof.csv'
master = 'Resources/basketball_master.csv'
players = 'Resources/basketball_players.csv'

In [3]:
hof_df = pd.read_csv(hof, encoding="ISO-8859-1")

In [4]:
master_df = pd.read_csv(master, encoding="ISO-8859-1")

In [5]:
players_df = pd.read_csv(players, encoding="ISO-8859-1")

In [6]:
hof_df.head()

   year      hofID           name category
0  1959  mikange01   George Mikan   Player
1  1960  macaued01    Ed Macauley   Player
2  1960  woodejo01    John Wooden   Player
3  1961  phillan01   Andy Phillip   Player
4  1962  thompjo01  John Thompson   Player

In [7]:
master_df.head()

,bioID,Full Name,pos,height,weight,college,birthDate,deathDate,race
0,abdelal01,Alaa Abdelnaby,F-C,82.0,240.0,Duke,6/24/1968,0000-00-00,B
1,abdulka01,Kareem Abdul-Jabbar,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B
2,abdulma01,Mahdi Abdul-Rahman,G,74.0,185.0,UCLA,4/15/1942,11/18/2011,B
3,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B
4,abdulta01,Tariq Abdul-Wahad,G-F,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B

In [8]:
players_df.head()

,playerID,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,...,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade
0,abramjo01,1946,1,PIT,47,0,0,527,0,0,...,0,0,0,0,0,0,0,0,0,0
1,aubucch01,1946,1,DTF,30,0,0,65,0,0,...,0,0,0,0,0,0,0,0,0,0
2,bakerno01,1946,1,CHS,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,baltihe01,1946,1,STB,58,0,0,138,0,0,...,0,0,0,3,10,2,1,0,0,0
4,barrjo01,1946,1,STB,58,0,0,295,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
players_year=players_df[['playerID','year']]

In [10]:
players_year.head()

    playerID  year
0  abramjo01  1946
1  aubucch01  1946
2  bakerno01  1946
3  baltihe01  1946
4   barrjo01  1946

In [11]:
players_year.drop_duplicates(['playerID'], inplace=True)

C:\Users\dkga1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
players_group = players_df.groupby('playerID').sum().reset_index()

In [13]:
players_group.drop(['year'],axis=1, inplace=True)

In [14]:
players_group.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,0,1,11,11,40,18,4,2,0,0
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,189,476,447,787,4422,2356,1419,1050,4,0
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,0,0,0,176,649,268,202,149,0,0
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,7,1,22,37,187,69,45,43,49,14
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,4,4,4,14,63,24,24,20,3,0

In [15]:
players_group = pd.merge(players_group, players_year, how='left', on=['playerID'])

In [16]:
players_group.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,year
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,1,11,11,40,18,4,2,0,0,1990
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,476,447,787,4422,2356,1419,1050,4,0,1969
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,0,0,176,649,268,202,149,0,0,1964
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,1,22,37,187,69,45,43,49,14,1990
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,4,4,14,63,24,24,20,3,0,1997

In [17]:
hof_df.rename(columns={'hofID':'playerID'}, inplace=True)

In [18]:
master_df.rename(columns={'bioID':'playerID'}, inplace=True)

In [19]:
master_df.head()

,playerID,Full Name,pos,height,weight,college,birthDate,deathDate,race
0,abdelal01,Alaa Abdelnaby,F-C,82.0,240.0,Duke,6/24/1968,0000-00-00,B
1,abdulka01,Kareem Abdul-Jabbar,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B
2,abdulma01,Mahdi Abdul-Rahman,G,74.0,185.0,UCLA,4/15/1942,11/18/2011,B
3,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B
4,abdulta01,Tariq Abdul-Wahad,G-F,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B

In [20]:
merged_data = pd.merge(master_df, hof_df, how='left', on=['playerID'])

In [21]:
merged_data.head()

,playerID,Full Name,pos,height,weight,college,birthDate,deathDate,race,year,name,category
0,abdelal01,Alaa Abdelnaby,F-C,82.0,240.0,Duke,6/24/1968,0000-00-00,B,NaN,NaN,NaN
1,abdulka01,Kareem Abdul-Jabbar,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,1995.0,Kareem Abdul-Jabbar,Player
2,abdulma01,Mahdi Abdul-Rahman,G,74.0,185.0,UCLA,4/15/1942,11/18/2011,B,NaN,NaN,NaN
3,abdulma02,Mahmoud Abdul-Rauf,G,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B,NaN,NaN,NaN
4,abdulta01,Tariq Abdul-Wahad,G-F,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B,NaN,NaN,NaN

In [22]:
merged_data.dtypes

playerID      object
Full Name     object
pos           object
height       float64
weight       float64
college       object
birthDate     object
deathDate     object
race          object
year         float64
name          object
category      object
dtype: object

In [23]:
combined_df = pd.merge(players_group, merged_data, how='left', on=['playerID'])

In [24]:
combined_df.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,pos,height,weight,college,birthDate,deathDate,race,year_y,name,category
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,F-C,82.0,240.0,Duke,6/24/1968,0000-00-00,B,NaN,NaN,NaN
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,1995.0,Kareem Abdul-Jabbar,Player
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,G,74.0,185.0,UCLA,4/15/1942,11/18/2011,B,NaN,NaN,NaN
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,G,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B,NaN,NaN,NaN
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,G-F,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B,NaN,NaN,NaN

In [25]:
combined_df.drop(['name','category','stint'],axis=1, inplace=True)

In [26]:
combined_df['Total GP']=combined_df['GP'] + combined_df['PostGP']
combined_df['Total GS']=combined_df['GS'] + combined_df['PostGS']
combined_df['Total Minutes']=combined_df['minutes'] + combined_df['PostMinutes']
combined_df['Total Points']=combined_df['points'] + combined_df['PostPoints']
combined_df['Total Off. Rebounds']=combined_df['oRebounds'] + combined_df['PostoRebounds']
combined_df['Total Def. Rebounds']=combined_df['dRebounds'] + combined_df['PostdRebounds']
combined_df['Total Rebounds']=combined_df['rebounds'] + combined_df['PostRebounds']
combined_df['Total Assists']=combined_df['assists'] + combined_df['PostAssists']
combined_df['Total Steals']=combined_df['steals'] + combined_df['PostSteals']
combined_df['Total Blocks']=combined_df['blocks'] + combined_df['PostBlocks']
combined_df['Total Turnovers']=combined_df['turnovers'] + combined_df['PostTurnovers']
combined_df['Total PF']=combined_df['PF'] + combined_df['PostPF']
combined_df['Total FG Attempted']=combined_df['fgAttempted'] + combined_df['PostfgAttempted']
combined_df['Total FG Made']=combined_df['fgMade'] + combined_df['PostfgMade']
combined_df['Total FT Attempted']=combined_df['ftAttempted'] + combined_df['PostftAttempted']
combined_df['Total FT Made']=combined_df['ftMade'] + combined_df['PostftMade']
combined_df['Total Three Attempted']=combined_df['threeAttempted'] + combined_df['PostthreeAttempted']
combined_df['Total Three Made']=combined_df['threeMade'] + combined_df['PostthreeMade']

In [27]:
combined_df.drop(['GP','PostGP','GS','PostGS','minutes','PostMinutes','points','PostPoints','oRebounds','PostoRebounds','dRebounds','PostdRebounds','rebounds','PostRebounds','assists',
                 'PostAssists','steals','PostSteals','blocks','PostBlocks','turnovers','PostTurnovers','PF','PostPF','fgAttempted','PostfgAttempted','fgMade','PostfgMade','ftAttempted','PostftAttempted',
                  'ftMade','PostftMade','threeMade','PostthreeMade','threeAttempted','PostthreeAttempted'],axis=1, inplace=True)

In [28]:
combined_df['Total FG Points']=combined_df['Total FG Made'] * 2

In [29]:
combined_df['Total Three Made Points']=combined_df['Total Three Made'] * 3

In [30]:
combined_df['Total FG %']=combined_df['Total FG Made']/combined_df['Total FG Attempted']
combined_df['Total FT %']=combined_df['Total FT Made']/combined_df['Total FT Attempted']
combined_df['Total Three %']=combined_df['Total Three Made']/combined_df['Total Three Attempted']

In [31]:
combined_df.head()

,playerID,year_x,Full Name,pos,height,weight,college,birthDate,deathDate,race,...,Total FG Made,Total FT Attempted,Total FT Made,Total Three Attempted,Total Three Made,Total FG Points,Total Three Made Points,Total FG %,Total FT %,Total Three %
0,abdelal01,1990,Alaa Abdelnaby,F-C,82.0,240.0,Duke,6/24/1968,0000-00-00,B,...,638,325,227,3,0,1276,0,0.500000,0.698462,0.000000
1,abdulka01,1969,Kareem Abdul-Jabbar,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,...,18193,10723,7762,22,1,36386,3,0.555868,0.723865,0.045455
2,abdulma01,1964,Mahdi Abdul-Rahman,G,74.0,185.0,UCLA,4/15/1942,11/18/2011,B,...,3865,2704,2042,0,0,7730,0,0.438656,0.755178,NaN
3,abdulma02,1990,Mahmoud Abdul-Rauf,G,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B,...,3583,1206,1094,1388,488,7166,1464,0.440713,0.907131,0.351585
4,abdulta01,1997,Tariq Abdul-Wahad,G-F,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B,...,744,553,392,79,18,1488,54,0.415875,0.708861,0.227848

In [32]:
combined_df.rename(columns={'year_y':'Year Inducted','year_x':'Year Started'}, inplace=True)

In [33]:
combined_df.dtypes

playerID                    object
Year Started                 int64
Full Name                   object
pos                         object
height                     float64
weight                     float64
college                     object
birthDate                   object
deathDate                   object
race                        object
Year Inducted              float64
Total GP                     int64
Total GS                     int64
Total Minutes                int64
Total Points                 int64
Total Off. Rebounds          int64
Total Def. Rebounds          int64
Total Rebounds               int64
Total Assists                int64
Total Steals                 int64
Total Blocks                 int64
Total Turnovers              int64
Total PF                     int64
Total FG Attempted           int64
Total FG Made                int64
Total FT Attempted           int64
Total FT Made                int64
Total Three Attempted        int64
Total Three Made             int64
Total FG Points              int64
Total Three Made Points      int64
Total FG %                 float64
Total FT %                 float64
Total Three %              float64
dtype: object

In [34]:
combined_df.to_csv("./Resources/bb_data_combined.csv", sep=',', index=False)

In [37]:
xtrain = combined_df.loc[combined_df['Year Inducted'].notnull()]
xtrain
# , ['Age','Fare', 'Group_Size','deck', 'Pclass', 'Title' ]]

,playerID,Year Started,Full Name,pos,height,weight,college,birthDate,deathDate,race,...,Total FG Made,Total FT Attempted,Total FT Made,Total Three Attempted,Total Three Made,Total FG Points,Total Three Made Points,Total FG %,Total FT %,Total Three %
1,abdulka01,1969,Kareem Abdul-Jabbar,C,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,...,18193,10723,7762,22,1,36386,3,0.555868,0.723865,0.045455
124,archina01,1970,Nathaniel Archibald,G,73.0,150.0,UTEP,9/2/1948,0000-00-00,B,...,6134,5996,4859,102,21,12268,63,0.465261,0.810374,0.205882
130,arizipa01,1950,Paul Joseph Arizin,F-G,74.0,190.0,Villanova,4/9/1928,12/12/2006,W,...,6039,6628,5374,0,0,12078,0,0.420690,0.810803,NaN
213,barklch01,1984,Charles Wade Barkley,F,77.0,250.0,Auburn,2/20/1963,0000-00-00,B,...,9444,9691,7100,2271,602,18888,1806,0.537507,0.732639,0.265081
241,barryri01,1965,Richard Francis Dennis Barry,F,79.0,205.0,Miami (FL),3/28/1944,0000-00-00,W,...,10795,7118,6340,614,219,21590,657,0.454756,0.890700,0.356678
266,bayloel01,1958,Elgin Gay Baylor,F,77.0,225.0,Seattle,9/16/1934,0000-00-00,B,...,10081,8492,6610,0,0,20162,0,0.432253,0.778380,NaN
295,bellawa01,1961,Walter Jones Bellamy,C,82.5,225.0,Indiana,7/24/1939,0000-00-00,B,...,8237,8406,5317,0,0,16474,0,0.513977,0.632524,NaN
345,bingda01,1966,David Bing,G,75.0,180.0,Syracuse,11/24/1943,0000-00-00,B,...,7153,5810,4498,0,0,14306,0,0.440972,0.774182,NaN
349,birdla01,1979,Larry Joe Bird,F-G,81.0,220.0,Indiana State,12/7/1956,0000-00-00,W,...,10049,5483,4861,1976,729,20098,2187,0.492019,0.886558,0.368927
459,bradlbi01,1967,William Warren Bradley,F-G,77.0,205.0,Princeton,7/28/1943,0000-00-00,W,...,4437,1874,1565,0,0,8874,0,0.446918,0.835112,NaN
720,cervial01,1949,Alfred Nicholas Cervi,G-F,71.0,170.0,none,2/12/1917,11/9/2009,W,...,1354,2180,1739,0,0,2708,0,1.052059,0.797706,NaN
726,chambwi01,1959,Wilton Norman Chamberlain,C,85.0,250.0,Kansas,8/21/1936,10/12/1999,B,...,14106,13489,6814,0,0,28212,0,0.537884,0.505152,NaN
862,cousybo01,1950,Robert Joseph Cousy,G,73.0,175.0,Holy Cross,8/9/1928,0000-00-00,W,...,6857,6535,5264,0,0,13714,0,0.370969,0.805509,NaN
864,cowenda01,1970,David William Cowens,C-F,80.5,225.0,Florida State,10/25/1948,0000-00-00,W,...,6477,2883,2245,16,1,12954,3,0.458516,0.778703,0.062500
906,cunnibi01,1965,William John Cunningham,F-C,77.0,195.0,North Carolina,6/3/1943,0000-00-00,W,...,6550,5851,4255,57,16,13100,48,0.451164,0.727226,0.280702
941,danieme01,1967,Melvin Joe Daniels,C,81.0,220.0,New Mexico,7/20/1944,0000-00-00,B,...,5412,4315,2852,36,3,10824,9,0.465228,0.660950,0.083333
944,dantlad01,1976,Adrian Delano Dantley,F-G,77.0,208.0,Notre Dame,2/26/1955,0000-00-00,B,...,8700,8974,7328,44,7,17400,21,0.539267,0.816581,0.159091
957,daviebo01,1948,Robert Edris Davies,G-F,73.0,175.0,Seton Hall,1/15/1920,4/22/1990,W,...,3031,3447,2612,0,0,6062,0,0.460989,0.757760,NaN
1013,debusda01,1962,David Albert DeBusschere,F-G,78.0,220.0,Detroit,10/16/1940,5/14/2003,W,...,6356,4125,2877,0,0,12712,0,0.430273,0.697455,NaN
1119,drexlcl01,1983,Clyde Austin Drexler,G-F,79.0,210.0,Houston,6/22/1962,0000-00-00,B,...,9411,6813,5368,3092,968,18822,2904,0.468652,0.787905,0.313066
1139,dumarjo01,1985,Joe Dumars,G,75.0,190.0,McNeese State,5/24/1963,0000-00-00,B,...,6640,4535,3830,2740,1043,13280,3129,0.460344,0.844542,0.380657
1239,englial01,1976,Alexander English,F,79.0,190.0,South Carolina,1/5/1954,0000-00-00,B,...,11327,5518,4602,91,18,22654,54,0.506484,0.833998,0.197802
1253,ervinju01,1971,Julius Winfield Erving,F-G-C,78.0,200.0,Massachusetts,2/22/1950,0000-00-00,B,...,13587,9360,7281,485,151,27174,453,0.504474,0.777885,0.311340
1270,ewingpa01,1985,Patrick Aloysius Ewing,C-F,84.0,240.0,Georgetown,8/5/1962,0000-00-00,B,...,10806,8120,5989,148,27,21612,81,0.500417,0.737562,0.182432
1400,fraziwa01,1967,Walter Frazier,G,76.0,200.0,Southern Illinois,3/29/1945,0000-00-00,B,...,6897,4749,3714,1,0,13794,0,0.492080,0.782059,0.000000
1418,fulksjo01,1946,Joseph Franklin Fulks,F-C,77.0,190.0,Murray State,10/26/1921,3/21/1976,W,...,3016,3336,2559,0,0,6032,0,0.299117,0.767086,NaN
1440,gallaha01,1948,Harry Junior Gallatin,F-C,78.0,210.0,NE Missouri State,4/26/1927,0000-00-00,W,...,3052,4540,3507,0,0,6104,0,0.397551,0.772467,NaN
1501,gervige01,1972,George Gervin,G-F,79.0,180.0,Eastern Michigan,4/27/1952,0000-00-00,B,...,11227,7432,6237,464,127,22454,381,0.503475,0.839209,0.273707
1525,gilmoar01,1971,Artis Gilmore,C,86.0,240.0,Jacksonville,9/21/1948,0000-00-00,B,...,10072,9415,6562,20,3,20144,9,0.580485,0.696973,0.150000
1547,golato01,1955,Thomas Joseph Gola,G-F,78.0,205.0,LaSalle,1/13/1933,0000-00-00,W,...,3106,2748,2091,0,0,6212,0,0.425188,0.760917,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,pollaji01,1948,James Clifford Pollard,F-C-G,75.5,185.0,Stanford,7/9/1922,1/22/1993,W,...,3006,2172,1610,0,0,6012,0,0.405778,0.741252,NaN
3534,ramsefr01,1954,Frank Vernon Ramsey,F-G,75.0,185.0,Kentucky,7/13/1931,0000-00-00,W,...,3418,3559,2873,0,0,6836,0,0.402734,0.807249,NaN
3570,reedwi01,1964,Willis Reed,C-F,81.0,235.0,Grambling,6/25/1942,0000-00-00,B,...,5429,3583,2683,0,0,10858,0,0.476019,0.748814,NaN
3631,risenar01,1948,Arnold D. Risen,C-F,81.0,200.0,Ohio State,10/9/1924,0000-00-00,W,...,3503,4663,3218,0,0,7006,0,0.464959,0.690114,NaN
3652,roberos01,1960,Oscar Palmer Robertson,G-F,77.0,205.0,Cincinnati,11/24/1938,0000-00-00,B,...,10183,9840,8254,0,0,20366,0,0.482927,0.838821,NaN
3665,robinda01,1989,David Maurice Robinson,C,85.0,235.0,Navy,8/6/1965,0000-00-00,B,...,8133,9167,6719,115,27,16266,81,0.513934,0.732955,0.234783
3687,rodmade01,1986,Dennis Keith Rodman,F,79.0,210.0,SE Oklahoma State,5/13/1961,0000-00-00,B,...,3208,2184,1259,402,89,6416,267,0.516420,0.576465,0.221393
3759,russebi01,1956,William Felton Russell,C,81.0,215.0,San Francisco,2/12/1934,0000-00-00,B,...,6690,6720,3815,0,0,13380,0,0.438257,0.567708,NaN
3770,sabonar01,1995,Arvydas Romas Sabonis,C,87.0,279.0,none,12/19/1964,0000-00-00,W,...,2304,1887,1487,462,151,4608,453,0.495377,0.788023,0.326840
3785,sampsra01,1983,Ralph Lee Sampson,C-F,88.0,228.0,Virginia,7/7/1960,0000-00-00,B,...,3207,1988,1323,66,13,6414,39,0.487312,0.665493,0.196970
3828,schaydo01,1949,Adolph Schayes,F-C,79.0,195.0,NYU,5/19/1928,0000-00-00,W,...,6743,9191,7734,0,0,13486,0,0.398099,0.841475,NaN
3923,sharmbi01,1950,William Walton Sharman,G,73.0,175.0,USC,5/25/1926,0000-00-00,W,...,5335,4002,3547,8,1,10670,3,0.426186,0.886307,0.125000
4166,stockjo01,1984,John Houston Stockton,G,73.0,170.0,Gonzaga,3/26/1962,0000-00-00,W,...,7894,6555,5403,2544,956,15788,2868,0.510377,0.824256,0.375786
4171,stokema01,1955,Maurice Stokes,F-C,79.0,232.0,St. Francis (PA),6/17/1933,4/6/1970,B,...,1254,1172,819,0,0,2508,0,0.350377,0.698805,NaN
4299,thomais01,1981,Isiah Lord Thomas,G,73.0,180.0,Indiana,4/30/1961,0000-00-00,B,...,8019,6005,4566,1607,479,16038,1437,0.451190,0.760366,0.298071
4321,thompda01,1975,David O'Neil Thompson,G-F,76.0,195.0,North Carolina State,7/13/1954,0000-00-00,B,...,5396,4563,3564,105,28,10792,84,0.503922,0.781065,0.266667
4327,thompjo01,1964,John R. Thompson,F,82.0,225.0,Providence,9/2/1941,0000-00-00,B,...,101,118,73,0,0,202,0,0.399209,0.618644,NaN
4346,thurmna01,1963,Nathaniel Thurmond,C-F,83.0,225.0,Bowling Green,7/25/1941,0000-00-00,B,...,5900,5424,3603,0,0,11800,0,0.420978,0.664270,NaN
4422,twymaja01,1955,John Kennedy Twyman,F-G,78.0,210.0,Cincinnati,5/11/1934,5/30/2012,W,...,6482,4484,3497,0,0,12964,0,0.449234,0.779884,NaN
4433,unselwe01,1968,Westley Sissel Unseld,C-F,79.0,245.0,Louisville,3/14/1946,0000-00-00,B,...,4882,3361,2117,7,3,9764,9,0.507168,0.629872,0.428571
4518,walkech01,1962,Chester Walker,F-G,78.0,200.0,Bradley,2/22/1940,0000-00-00,B,...,7563,7073,5621,0,0,15126,0,0.468036,0.794712,NaN
4546,waltobi01,1974,William Theodore Walton,C-F,83.0,210.0,UCLA,11/5/1952,0000-00-00,W,...,2782,1784,1179,5,0,5564,0,0.521169,0.660874,0.000000
4550,wanzebo01,1948,Robert Francis Wanzer,G,72.0,170.0,Seton Hall,6/4/1921,0000-00-00,W,...,2515,3314,2681,0,0,5030,0,0.407618,0.808992,NaN
4634,westje01,1960,Jerry Alan West,G-F,74.0,175.0,West Virginia,5/28/1938,0000-00-00,W,...,10638,10307,8373,0,0,21276,0,0.472968,0.812361,NaN
4686,wilkeja01,1974,Jamaal Abdul-Lateef Wilkes,F-G,78.0,190.0,UCLA,5/2/1953,0000-00-00,B,...,7011,3222,2435,58,7,14022,21,0.495127,0.755742,0.120690
4688,wilkele01,1960,Leonard Randolph Wilkens,G,73.0,180.0,Providence,10/28/1937,0000-00-00,B,...,6548,7380,5707,0,0,13096,0,0.430054,0.773306,NaN
4692,wilkido01,1982,Jacques Dominique Wilkins,F-G,79.0,200.0,Georgia,1/12/1960,0000-00-00,B,...,10478,7882,6397,2327,738,20956,2214,0.459763,0.811596,0.317147
4825,woodejo01,1937,John Robert Wooden,G,70.0,183.0,Purdue,10/14/1910,6/4/2010,W,...,84,0,79,0,0,168,0,inf,inf,NaN
4840,worthja01,1982,James Ager Worthy,F,81.0,225.0,North Carolina,2/27/1961,0000-00-00,B,...,8145,3836,2921,553,131,16290,393,0.524367,0.761470,0.236890
4865,yardlge01,1953,George Harry Yardley,F-G,77.0,190.0,Stanford,11/3/1928,8/12/2004,W,...,3690,3931,3084,37,14,7380,42,0.421522,0.784533,0.378378

In [38]:
xtrain.to_csv("./Resources/hof_train_data.csv", sep=',', index=False)